
<div class="row mt-3">

  <div class="col-9 me-0 pe-1 ps-2">
    <!-- largo total de la pagina -->
    <div class="card me-0">
      <div class="card-header bg-primary">
        <h3 class="">Salas</h3>
      </div>
      <div class="card-body">
        <!-- maquetar los mensajes -->
        Mensajes
      </div>
      <!-- alto de la tarjeta = alto de la pantalla -->
      <div class="card-header bg-primary">
        <div class="input-group mb-1">
          <!-- usar axios para mandar el mensaje -->
          <!-- si el usuario no esta logueado, no mostrar este formulario -->
          <input type="text" class="form-control" placeholder="Ingrese su mensaje" aria-label="message" aria-describedby="mensaje">
          <button class="btn btn-success" type="button" id="enviar">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3 ms-0 ps-1 pe-2">
    <!-- largo total de la pagina -->
    <!-- alto de la tarjeta = alto de la pantalla -->
    <div class="card ms-0">
      <div class="card-header bg-primary">
        <h3 class="">Usuarios</h3>
      </div>
      <div class="card-body">
        usuario 1
      </div>

    </div>
  </div>

</div>



