
<div class="row justify-content-center">
  <div class="col-8">
    <form class="card mt-3 ">
      <!-- usar axios para enviar el mensaje -->
      <div class="card-header">
        <h5>Registro</h5>
      </div>
      <div class="card-body border">
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" id="email" autocomplete="off" placeholder="nombre@empresa.com">
        </div>
        <div class="mb-3">
          <label for="nick" class="form-label">Sobrenombre</label>
          <input type="text" class="form-control" id="nick" autocomplete="off" placeholder="Ingrese un sobrenombre">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contrase単a</label>
          <input type="password" class="form-control" id="password" autocomplete="off" placeholder="Ingrese una contrase単a">
        </div>
        <div class="mb-3">
          <label for="confirm" class="form-label">Confirme su contrase単a</label>
          <input type="password" class="form-control" id="confirm" autocomplete="off" placeholder="Ingrese nuevamente la contrase単a">
        </div>
      </div>
      <div class="d-grid d-md-flex justify-content-md-end mb-3">
        <button class="btn btn-primary me-md-2" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
